.MyModal {
    border: 1px solid tomato;
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MyModal .content {
    border: 1px solid blue;
    background: white;
    padding: 1rem;
    width: 400px;
    height: auto;
}